/* Awal Header */

/* by Mardhani Dwi Novianto */

/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .header-logo {
        padding: 30px 4px 30px 15px;
    }
}


/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .header-logo {
        padding: 30px 4px 30px 15px;
    }
    
    .header-list {
        display: none;
      }
      
    .menu-icon {
        display: block;
    }
}

/* Akhir Header */


/* Awal Footer */

/* by Galang Sumantri */

/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .footer {
        padding: 0px 50px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 800px) {
    .footer {
        padding: 0px 30px;
    }

    .footer-top {
        display: block;
    }

    .footer-bottom {
        display: block;
    }

    .sosmed {
        padding-bottom: 20px;
    }
}

/* Akhir Footer */