* {
    box-sizing: border-box;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}


/* Awal Header */
/* by Mardhani Dwi Novianto */
.header {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 92px;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.header-logo {
    padding: 30px 4px 30px 135px;
    float: left;
}

.header-name {
    font-size: 18px;
    font-weight: 600;
    padding-top: 35px;
}

.header-name a {
    text-decoration: none;
    color: #000000;
}

.header-list {
    font-size: 16px;
    font-weight: 400;
    float: right;
}

.header-list ul {
    list-style: none;
    margin-right: 50px;
    margin-top: -20px;
}

.header-list li {
    float: left;
    padding: 0px 40px;
}

.header-list a {
    text-decoration: none;
    color: #000000;
}

.header-list a:hover {
    color: blue;
}

.menu-icon {
    color: #000000;
    float: right;
    font-size: 40px;
    padding: 20px 20px;
    display: none;
    margin-top: -50px;
}
/* Akhir Header */

/* Awal style main */
*{
    margin: 0;
    padding: 0;
    
}

.container{
    width: 100%;
    height: 100vh;
    background-color:#d9f1e5;
    padding-left: 8%;
    padding-right: 8% ;
    box-sizing: border-box;
    
  .row{
    display: flex;
    height: 88%;
    align-items: center;
}

.col{
    flex-basis: 50%;
}

h2{
    color: #FC6713;
    margin-bottom: 90px;
    font-size: 45px;
}
.img{
    width: 300px;
    height: 250px;
}
.deskripsi p{
    margin: 40px 40px;
    text-align: justify;
    font-size: 20px;
}

/*  Akhir style main*/
/* Awal Body (choices) */
/* by Regi Ridho Biyantomo */
.container .choice {
    margin: 0 25px;
}
  
.container .choice img {
    width: 250px;
    height: 250px;
    border: 2px solid #dfdfdf;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}

.choices {
    text-transform: capitalize;
    padding: 100px 0 50px 0;
    background-color: #d9f1e5;
    text-align: center;
}

.title {
    margin-bottom: 30px;
    font-size: 24px;
}

.choices button {
    margin-top: 80px;
    padding: 10px 50px;
    border-radius: 50px;
    background-color: #0ad663;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0.8;
    box-shadow: 0 7px #1a7940;
}

.choices button:hover {
    opacity: 1;
    cursor: pointer;
}

.choices button:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}

.choices a {
    text-decoration: none;
}
/* Akhir Body (choices) */

/* Awal Body (what_u_get) */
/* by Regi Ridho Biyantomo */
.what-u-get {
    text-transform: capitalize;
    padding: 100px 0 100px 0;
    text-align: center;
}

.what-u-get .container img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.container .wug-card .wug-descript {
    padding: 5px 0 10px 0;
}

.container .wug-card {
    border: 2px solid #dfdfdf;
    border-radius: 5px;
    margin: 0 25px;
}

.container .wug-card:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
}
/* Akhir Body (what_u_get) */

/* Awal Formulir */
/* by Zaenul Hambyah */
.register-form {
    height: 600px;
    background-color:#D9F1E5;
}
  
.form {
    float: left;
    padding-top: 120px;
    /* padding-bottom: 100px; */
    padding-left: 0px;
    /* padding-right: 0px; */
    padding-right: 15px;
    box-sizing: border-box;
}

.form-left {
    width: 55%;
    font-size: 35px;
    text-align: center;
    padding-top: 200px;
    padding-left: 105px;
    /* padding-right: 25px; */
    /* padding-right: 150px; */
    /* margin-left: -50px; */
}

.form-right {
    /* width: 45%; */
    padding-left: 100px;
    /* margin-right: -20px; */
}

.section-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.form p{
    font-size: 15px;
}

input {
    width: 215px;
    /* height: 26; */
    height: 26px;
    margin-top: 10px;
    /* margin-bottom:30px; */
    margin-bottom: 12px;
    /* padding:20px; */
    padding: 15px;
    font-size:15px;
    background-color: #D9D9D9;
    border: 1px solid #000 ;
    border-radius: 20px;
}

.register-btn {
    margin-top: 20px;
    border-radius: 20px;
    background-color:#083AF2;
    color:#FFF;
    border: 1px solid #000 ;
    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 5px #0A2175;
}

.register-btn:hover{
    opacity: 1;
}

.register-btn:active {
    position: relative;
    top: 9px;
    box-shadow: none;
}
/* Akhir Formulir */
  
/* Awal Footer */
/* by Galang Sumantri */
.footer {
    background-color: #383838;
    padding: 0px 135px;
}

<<<<<<< HEAD
/* Awal Footer */

/* by Galang Sumantri */

.footer {
    background-color: #383838;
    padding: 0px 135px;
}

=======
>>>>>>> c57b36632ea97c89c990209deb486599f4f31626
.footer p {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}

.footer-top {
    display:flex;
    justify-content: space-between;
    padding: 85px 0;
}

.footer-top p {
    align-self: center;
}

.footer-top a {
    text-decoration:none;
}

.footer-top a:hover p {
    color:grey;
}

.footer-bottom {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-top:solid 1px #747474;
    padding: 50px 0;
}

.sosmed {
    display:flex;
    width: 170px;
    align-items: center;
    justify-content: space-between;
}

.sosmed a:hover img {
    transform: scale(1.2);
}
<<<<<<< HEAD

=======
>>>>>>> c57b36632ea97c89c990209deb486599f4f31626
/* Akhir Footer */

